nameOverride: ''
fullnameOverride: ''

securityContext:
  capabilities:
    add:
      - SYS_NICE
      - PERFMON

resources:
  limits:
    cpu: 500m
    memory: 128Mi
  # You can also add some requests if you want, here is an example.
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

tolerations: []

nodeSelector: {}

service:
  type: ClusterIP
  port: 50051

image:
  # Override appVersion and use different image version of ALUMET.
  # version: 0.8.3-1
  # Operating System deployed (debian_12, ubuntu_24.04, fc42, ubi9.5, ubi8.3)
  osVersion: ubuntu_24.04

# set environment variables for log and trace level
env:
  RUST_LOG: 'info'
  RUST_BACKTRACE: ''

# by default the config map is created at deployment step,
# but you can create your own config map to have a complete custom configuration, in that case you need to declare the config map name
configMap:
  name: ''

# set enable variable to true/false to activate/deactivate Alumet plugins
plugins:
  influxdb:
    enable: true
    # if host is empty, it means that influxdb is deployed by the alumet helm chart
    # if not it means that we use an external influxdb instance,
    # format must be: http:<server name>:<port number>
    host:
    organization: 'influxdata'
    bucket: 'default'
    attributes_as: 'tag'
    # token is set using key admin-token defined in the secret that is required.
    # The secret name is defined in existingSecret variable
    existingSecret: ''

  csv:
    enable: false

  mongodb:
    enable: false
    host: mongo
    port: 2707
    database: seed
    collection: ''
    username: ''
    password: ''

  opentelemetry:
    enable: false
    collector_host: 'http://localhost:4317'
    push_interval_seconds: 5

  prometheusExporter:
    enable: false
    port: 9091
