name: Chart validation

on:
  pull_request:
    branches:
      - main

jobs:
  helm-unittest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: azure/setup-helm@v4
        with:
          version: 3.19.0

      - name: Install helm-unittest
        run: helm plugin install https://github.com/helm-unittest/helm-unittest.git

      - name: Run tests
        working-directory: charts/alumet
        run: helm unittest .

